:root {
  font-family: sans-serif;
}

body {
  background-image: url('../images/bg.jpg');
  background-position: center;
}

.navbar {
  background-color: #2d3436;
  overflow: hidden;
  border-radius: 5px;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.btn {
  text-decoration: none;
  transition: 0.3s;
  color: white;
  background-color: inherit;
  border: none;
  padding-left: 40px;
}

.btn:hover {
    color: lightgray;
    background-color: black;
    border: none;
}

.btn1 {
  text-decoration: none;
  transition: 0.3s;
  color: white;
  background-color: inherit;
  border: none;
}

.btn1:hover {
    color: lightgray;
}


.title {
  letter-spacing: 1px;
  text-align: center;
}

.desc {
  text-align: center;
  padding: 5px;
  color: white;
  background-color: #2d3436;
  border-radius: 5px;
}

.post {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  color: white;
  background-color: #2d3436;
  border-radius: 5px;

  position: absolute;
  align-content: center;
  width: auto;
  padding: 10px;
}
